body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display, .historyDisplay{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 40px;
    font-family: -apple-system, sans-serif;
    font-weight: bold;  
}

.historyDisplay{
    height: 55px;
    font-size: 20px;
}




.container{
    background-color: rgb(0, 0, 0);
    width: 400px;
    height: 600px;

}

button  {
    
    margin: 0px;
    padding: 0px;
    background-color: rgb(228, 228, 228);
    width: 100px;
    height: 100px;
    font-size: 45px;
    font-weight: bold;
    transition:
    background-color 0.15s ease,
    color 0.15s ease,
    transform 0.08s ease;

}

.memBtn.storing {
    background-color: rgb(0, 238, 255);
}

button:active, button.is-active {
    background-color: rgb(0, 0, 0);
    color: aliceblue;    
}